# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @kevin4998 will be requested for
# review when someone opens a pull request.
*       @kevin4998

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @kevin4998 and not the global
# owner(s) will be requested for a review.
*.cs    @kevin4998

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# (Uncomment next line for usage)
# /build/logs/ @doctocat